<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.sam.shoeshi.product.mapper.ProductMapper">
	<select id="productSelectList" resultType="co.sam.shoeshi.product.service.ProductVO">
		SELECT * FROM PRODUCT
	</select>
	
	<select id="productSelect" resultType="co.sam.shoeshi.bid.service.BidVO">
		SELECT * FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</select>
	
	<insert id="productInsert" parameterType="co.sam.shoeshi.bid.service.BidVO">
		INSERT INTO PRODUCT(product_id, product_maker, product_name, product_price, product_size)
		VALUES(#{productId}, #{productMaker}, #{productName}, #{productPrice}, #{productSize})
	</insert>
	
	<update id="productUpdate" parameterType="co.sam.shoeshi.bid.service.BidVO">
		UPDATE PRODUCT
		<set>
			<!-- 한개만 있어도 무조건 콤마, 마지막거 제외 -->
			<if test="productId != null">PRODUCT_ID = #{productId},</if>
			<if test="productCo != null">PRODUCT_MAKER = #{productMaker},</if>
			<if test="productName != null">PRODUCT_NAME = #{productName},</if>
			<if test="productPrice != null">PRODUCT_PRICE = #{productPrice},</if>
			<if test="productSize != null">PRODUCT_SIZE = #{productSize},</if>
		</set>
		WHERE PRODUCT_ID = #{productId}
	</update>
	
	<delete id="productDelete" parameterType="co.sam.shoeshi.bid.service.BidVO">
		DELETE FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</delete>

</mapper>